#!/usr/bin/env python3
'''
FILE:           sealog_vehicle_data_export_class.py

DESCRIPTION:    This script exports all the data for a given lowering.
                Class-based refactor of sealog_vehicle_data_export.py.

BUGS:
NOTES:
AUTHOR:     Webb Pinner
COMPANY:    OceanDataTools.org
VERSION:    2.1
CREATED:    2018-11-07
REVISION:   2026-04-18

LICENSE INFO:   This code is licensed under MIT license (see LICENSE.txt for details)
                Copyright (C) OceanDataTools.org 2025
'''

import sys
import os
import json
import logging
import subprocess

from os.path import dirname, realpath
sys.path.append(dirname(dirname(realpath(__file__))))

from misc.python_sealog.settings import API_SERVER_FILE_PATH
from misc.python_sealog.cruises import get_cruises, get_cruise_by_id, get_cruise_by_lowering
from misc.python_sealog.lowerings import get_lowerings, get_lowering_by_id, get_lowerings_by_cruise
from misc.python_sealog.misc import get_framegrab_list_by_lowering
from misc.python_sealog.events import get_events_by_lowering
from misc.python_sealog.event_aux_data import get_event_aux_data_by_lowering
from misc.python_sealog.event_exports import get_event_exports_by_lowering
from misc.python_sealog.event_templates import get_event_templates
from misc.base_data_exporter import SealogDataExporter
try:
    from misc.lowering_nav_exporter import ExportLoweringNav, ALT_DESIRED_RAW_COLS
    NAV_CSV_REQS = True
except (ModuleNotFoundError, ImportError):
    NAV_CSV_REQS = False

# Location of exported files.
EXPORT_ROOT_DIR = '/data/sealog-exports'

# Name of the vehicle. This is used in filenames and shouldn't include spaces or special characters.
VEHICLE_NAME = 'Deep_Discoverer'

# Enable/Disable copying image files to export directory
EXPORT_IMAGES = True
IMAGE_DATASOURCES = ['eventFileAttachments', 'framegrabber']

EXPORT_NAV_CSV = False

EXPORT_TEMPLATES = False


class VehicleDataExporter(SealogDataExporter):
    """Exports lowering-level event data and files for a vehicle deployment."""

    def __init__(self, name, export_root_dir, export_images=True,
                 image_datasources=None, export_templates=False, export_nav_csv=False):
        super().__init__(name, export_root_dir, export_images, image_datasources, export_templates)
        self.export_nav_csv = export_nav_csv
        self.lowerings_file_path = os.path.join(API_SERVER_FILE_PATH, 'lowerings')

    def _lowering_file_prefix(self, cruise, lowering):
        return f"{self._cruise_file_prefix(cruise)}_{lowering['lowering_id']}"

    def _build_lowering_name(self, cruise, lowering):  # pylint:disable=W0613
        """
        Translate lowering_id to its export directory name.

        Prepend the lowering id with the cruise id:
        -----------------------------------------------
        return cruise['cruise_id'] + '_' + lowering['lowering_id']

        Just pass through the lowering id:
        -----------------------------------------------
        """
        return lowering['lowering_id']

    def _get_nav_csv(self, lowering):
        """Return nav data for the lowering as a CSV string, or None if unavailable."""
        if not NAV_CSV_REQS:
            raise RuntimeError('Python module lowering_nav_exporter not found. It '
                               'is likely you just need to copy/rename the '
                               'lowering_nav_exporter file so that it ends in .py')

        try:
            nav_export = ExportLoweringNav(lowering['id'])
        except Exception:  # pylint:disable=W0718
            logging.warning(
                "Primary nav source failed for lowering %s, trying alternative.",
                lowering['lowering_id']
            )
            try:
                nav_export = ExportLoweringNav(lowering['id'], raw_columns=ALT_DESIRED_RAW_COLS)
            except Exception as exc:  # pylint:disable=W0718
                logging.error("Could not export nav for lowering %s: %s",
                              lowering['lowering_id'], exc)
                return None

        if nav_export.data is None or nav_export.data.empty:
            logging.warning("No nav data found for lowering %s", lowering['lowering_id'])
            return None

        return str(nav_export)

    def _get_cruise_export_tasks(self):
        return [
            {
                'description': 'Cruise Record',
                'path': lambda c, dirs: os.path.join(
                    dirs['cruise'], self._cruise_file_prefix(c) + '_cruiseRecord.json'
                ),
                'data_fn': json.dumps,
            },
        ]

    def _get_lowering_export_tasks(self):
        return [
            {
                'description': 'Lowering Record',
                'path': lambda c, lo, dirs: os.path.join(
                    dirs['lowering'], self._lowering_file_prefix(c, lo) + '_loweringRecord.json'
                ),
                'data_fn': json.dumps,
            },
            {
                'description': 'Events (json)',
                'path': lambda c, lo, dirs: os.path.join(
                    dirs['lowering'], self._lowering_file_prefix(c, lo) + '_eventOnlyExport.json'
                ),
                'data_fn': lambda lo: json.dumps(get_events_by_lowering(lo['id'])),
            },
            {
                'description': 'Events (csv)',
                'path': lambda c, lo, dirs: os.path.join(
                    dirs['lowering'], self._lowering_file_prefix(c, lo) + '_eventOnlyExport.csv'
                ),
                'data_fn': lambda lo: get_events_by_lowering(lo['id'], 'csv'),
            },
            {
                'description': 'Aux Data',
                'path': lambda c, lo, dirs: os.path.join(
                    dirs['lowering'], self._lowering_file_prefix(c, lo) + '_auxDataExport.json'
                ),
                'data_fn': lambda lo: json.dumps(get_event_aux_data_by_lowering(lo['id'])),
            },
            {
                'description': 'Events with Aux Data (json)',
                'path': lambda c, lo, dirs: os.path.join(
                    dirs['lowering'], self._lowering_file_prefix(c, lo) + '_sealogExport.json'
                ),
                'data_fn': lambda lo: json.dumps(get_event_exports_by_lowering(lo['id'])),
            },
            {
                'description': 'Events with Aux Data (csv)',
                'path': lambda c, lo, dirs: os.path.join(
                    dirs['lowering'], self._lowering_file_prefix(c, lo) + '_sealogExport.csv'
                ),
                'data_fn': lambda lo: get_event_exports_by_lowering(lo['id'], 'csv'),
            },
            {
                'description': 'Event Templates',
                'path': lambda c, lo, dirs: os.path.join(
                    dirs['lowering'], self._lowering_file_prefix(c, lo) + '_eventTemplates.json'
                ),
                'data_fn': lambda lo: json.dumps(get_event_templates()),
            },
            {
                'description': 'Nav (csv)',
                'path': lambda c, lo, dirs: os.path.join(
                    dirs['lowering'], self._lowering_file_prefix(c, lo) + '_nav.csv'
                ) if self.export_nav_csv else None,
                'data_fn': self._get_nav_csv,
            },
        ]

    def verify_source_directories(self, cruise, lowerings=None):  # pylint:disable=W0621
        '''Verify that all required source directories exist.'''
        ok, err_msg = super().verify_source_directories(cruise)
        if not ok:
            return ok, err_msg

        lowerings = lowerings or []
        checks = [
            (self.images_file_path,   "cannot find images file path"),
            (self.lowerings_file_path, "cannot find lowerings file path"),
        ] + [
            (os.path.join(self.lowerings_file_path, lo['id']),
             f"cannot find source directory for lowering: {lo['lowering_id']}")
            for lo in lowerings
        ]
        for path, message in checks:
            if not os.path.isdir(path):
                return False, message
        return True, 'success'

    def _export_images(self, lowering, lowering_dir):
        logging.info("Exporting Images")
        framegrab_list = get_framegrab_list_by_lowering(lowering['id'], self.image_datasources)
        images_dir = os.path.join(lowering_dir, self.IMAGES_DIRNAME)
        self._rsync_images(framegrab_list, images_dir)

    def _export_lowering_files(self, lowering, lowering_dir):
        """Rsync the lowering's uploaded files into the export directory."""
        subprocess.call([
            'rsync', '-avi', '--progress', '--delete',
            os.path.join(self.lowerings_file_path, lowering['id'], ''),
            os.path.join(lowering_dir, self.FILES_DIRNAME)
        ])

    def export_cruise(self, cruise):
        """Export cruise-level data (cruise record and uploaded files)."""
        logging.info("Exporting data for cruise %s", cruise['cruise_id'])

        cruise_dir = os.path.join(self.export_root_dir, cruise['cruise_id'])
        dirs = {
            'cruise': cruise_dir,
            'files':  os.path.join(cruise_dir, self.FILES_DIRNAME),
        }

        self._build_export_directories(dirs)

        for task in self._get_cruise_export_tasks():
            filepath = task['path'](cruise, dirs)
            if filepath is not None:
                self._write_file(filepath, task['data_fn'](cruise), task['description'])

        self._export_cruise_files(cruise, cruise_dir)

    def export_lowering(self, cruise, lowering):
        """Export all data for the given lowering."""
        logging.info("Exporting data for lowering %s", lowering['lowering_id'])

        lowering_dir = os.path.join(
            self.export_root_dir, cruise['cruise_id'],
            self._build_lowering_name(cruise, lowering)
        )
        dirs = {
            'cruise':   os.path.join(self.export_root_dir, cruise['cruise_id']),
            'lowering': lowering_dir,
            'files':    os.path.join(lowering_dir, self.FILES_DIRNAME),
        }
        if self.export_images:
            dirs['images'] = os.path.join(lowering_dir, self.IMAGES_DIRNAME)

        self._build_export_directories(dirs)

        for task in self._get_lowering_export_tasks():
            filepath = task['path'](cruise, lowering, dirs)
            if filepath is not None:
                self._write_file(filepath, task['data_fn'](lowering), task['description'])

        if self.export_images:
            self._export_images(lowering, lowering_dir)
        self._export_lowering_files(lowering, lowering_dir)


if __name__ == '__main__':

    import argparse

    exporter = VehicleDataExporter(
        name=VEHICLE_NAME,
        export_root_dir=EXPORT_ROOT_DIR,
        export_images=EXPORT_IMAGES,
        image_datasources=IMAGE_DATASOURCES,
        export_templates=EXPORT_TEMPLATES,
        export_nav_csv=EXPORT_NAV_CSV,
    )

    parser = argparse.ArgumentParser(description='Sealog ' + VEHICLE_NAME + ' Data export')
    parser.add_argument(
        '-v', '--verbosity', dest='verbosity', default=0,
        action='count', help='Increase output verbosity'
    )
    group1 = parser.add_mutually_exclusive_group()
    group1.add_argument(
        '-c', '--current_cruise', action='store_true', default=False,
        help='export the data for the most recent cruise'
    )
    group1.add_argument(
        '-C', '--cruise_id',
        help='export all cruise and lowering data for the specified cruise (i.e. FK200126)'
    )
    group1.add_argument(
        '-L', '--lowering_id',
        help='export data for the specified lowering (i.e. S0314)'
    )

    parsed_args = parser.parse_args()

    LOGGING_FORMAT = '%(asctime)-15s %(levelname)s - %(message)s'
    logging.basicConfig(format=LOGGING_FORMAT)

    LOG_LEVELS = {0: logging.WARNING, 1: logging.INFO, 2: logging.DEBUG}
    parsed_args.verbosity = min(parsed_args.verbosity, max(LOG_LEVELS))
    logging.getLogger().setLevel(LOG_LEVELS[parsed_args.verbosity])

    selected_cruise = None  # pylint:disable=C0103
    selected_lowerings = []

    if parsed_args.current_cruise:
        selected_cruise = next(iter(get_cruises()), None)
        if selected_cruise is None:
            logging.error("There are no cruises available for export")
            sys.exit(0)
        selected_lowerings = get_lowerings_by_cruise(selected_cruise['id'])

    elif parsed_args.cruise_id:
        selected_cruise = get_cruise_by_id(parsed_args.cruise_id)
        if selected_cruise is None:
            logging.error("Cruise %s not found", parsed_args.cruise_id)
            sys.exit(0)
        selected_lowerings = get_lowerings_by_cruise(selected_cruise['id'])

    elif parsed_args.lowering_id:
        selected_lowerings = [get_lowering_by_id(parsed_args.lowering_id)]
        if len(selected_lowerings) == 0:
            logging.error("Lowering %s not found", parsed_args.lowering_id)
            sys.exit(0)
        selected_cruise = get_cruise_by_lowering(selected_lowerings[0]['id'])

    else:
        selected_lowerings = [next(iter(get_lowerings()), None)]
        if selected_lowerings[0] is None:
            logging.error("There are no lowerings available for export")
            sys.exit(0)
        selected_cruise = get_cruise_by_lowering(selected_lowerings[0]['id'])

    if selected_cruise is None:
        logging.error("There is no cruise for the specified lowering")
        sys.exit(0)

    if len(selected_lowerings) == 0:
        logging.error("There are no lowerings for the specified cruise")
        sys.exit(0)

    logging.info("Exporting the following data:")
    logging.info("\tCruise: %s", selected_cruise['cruise_id'])
    logging.info(
        "\tLowering(s): %s",
        ', '.join([lowering['lowering_id'] for lowering in selected_lowerings])
    )

    success, msg = exporter.verify_source_directories(selected_cruise, selected_lowerings)
    if not success:
        logging.error(msg)
        sys.exit(0)

    if not os.path.isdir(EXPORT_ROOT_DIR):
        logging.error("Cannot find export directory: %s", EXPORT_ROOT_DIR)
        sys.exit(1)

    exporter.export_cruise(selected_cruise)

    for selected_lowering in selected_lowerings:
        exporter.export_lowering(selected_cruise, selected_lowering)

    logging.info("Done")
