{
  "extends": [
    "eslint:recommended",
    "plugin:@hapi/recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "comma-dangle": ["error", "never"],
    "eol-last": 1,
    "indent": ["error", 2, {"SwitchCase": 1}],
    "no-alert": "warn",
    "no-console": "off",
    "no-debugger": "warn",
    "no-extend-native": "warn",
    "no-lone-blocks": "warn",
    "no-trailing-spaces": "warn",
    "no-underscore-dangle": ["warn", { "allow": ["_id", "_data", "_rolesToScope", "_renameAndClearFields", "_hashPassword"], "allowAfterThis": true }],
    "no-unused-vars": ["warn", {
      "vars": "all",
      "args": "after-used",
      "argsIgnorePattern": "options"
    }],
    "quotes": "warn",
    "semi": ["warn", "always"],
  }
}