# node dependencies
node_modules

# npm logfile and package lock file
npm-debug.log
package-lock.json

# virtual environment
venv/

# dumb files OS X adds
.DS_Store

# Scripts typically customized to the vessel/vehicles individual needs
misc/influx_sealog/settings*.py
misc/python_sealog/settings*.py
misc/sealog-asnap.py
misc/sealog-cruiseResponder.py
misc/sealog-loweringResponder.py
misc/sealog-autoActions.py
misc/sealog-auxDataInserter-nav.py
misc/sealog-udp2MongoDB.py
misc/sealog_backupDB.sh
misc/sealog_postLowering.sh
misc/sealog_preLowering.sh
misc/sealog_restoreDBfromBackup.sh
misc/sealog_vehicle_postCruise.sh
misc/sealog_vessel_postCruise.sh
misc/sealog-auxDataInserter*.py
misc/sealog-udp2MongoDB*.py

# Configuration files custom to the sealog-server instance
config/db_constants.js
config/email_constants.js
config/manifest.js
config/path_constants.js
config/secret.js

# dumb python generated fiels
*.pyc
__pycache__
