/node_modules
npm-debug.log
.DS_Store
/misc/sealog-asnap.py
/misc/sealog-autoActions.py
/misc/sealog-auxDataInserter-nav.py
/misc/sealog-udp2MongoDB.py
/misc/sealog_backupDB.sh
/misc/sealog_postLowering.sh
/misc/sealog_preLowering.sh
/misc/sealog_restoreDBfromBackup.sh
/misc/sealog_vehicle_postCruise.sh
/misc/sealog_vessel_postCruise.sh
/misc/python_sealog/settings.py
/config/db_constants.js
/config/email_constants.js
/config/manifest.js
/config/path_constants.js
/config/secret.js

*.pyc
__pycache__
