services:
  sealog-server:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - mongo
    environment:
      #- SEALOG_SERVER_PORT=8000
      #- SEALOG_SERVER_FILEPATH_ROOT=/data/sealog-files
      #- SEALOG_SERVER_TLS_PRIVKEY=<privkey.pem>
      #- SEALOG_SERVER_TLS_FULLCHAIN=<fulchain.pem>
      
      # Create SEALOG_SERVER_SECRET with:
      # node -e "console.log(require('crypto').randomBytes(256).toString('base64'));"
      - SEALOG_SERVER_SECRET='<SECRET_TOKEN>'
      
      # NODE_ENV Options are:
      # - production: what to use for realz
      # - development: preloads some events, event templates cruises and lowerings
      # - demo-vessel: preloads some event templates, cruises, and events... good for evaluating Sealog for vessels
      # - demo-vehicle: preloads some event templates, cruises, lowerings and events... good for evaluating Sealog for vehicles
      - NODE_ENV=production
      - MONGO_URL=mongodb://mongo:27017/sealogDB
    image: sealog-server
    ports:
      - "8000:8000"
    restart: unless-stopped
    volumes:
      # Make sure this directory exists
      - /opt/sealog-server/sealog-files:/data/sealog-files

  mongo:
    image: mongo
    # Uncomment these lines if you need direct access to the database
    # ports:
    #   - "27017:27017"
    volumes:
      - db_data:/data/db

volumes:
  db_data:
