flake8==7.3.0
Husky==0.1.7
influxdb-client==1.49.0
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
pylint==3.3.8
pymongo==4.14.0
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
requests==2.34.2
urllib3==2.7.0
websockets==15.0.1
