flake8==7.1.1
influxdb-client==1.39.0
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
pylint==3.2.5
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
requests==2.31.0
urllib3==2.1.0
websockets==12.0
