#!/usr/bin/env python3
'''
FILE:           settings.py

DESCRIPTION:    This file contains the settings used by the influx_sealog
				functions to communicate with the influxDB API

BUGS:
NOTES:
AUTHOR:     Webb Pinner
COMPANY:    OceanDataTools.org
VERSION:    1.0
CREATED:    2021-01-01
REVISION:	2022-02-13

LICENSE INFO:   This code is licensed under MIT license (see LICENSE.txt for details)
                Copyright (C) OceanDataTools.org 2023
'''

# URL to influx server
INFLUX_SERVER_URL = "http://localhost:8086"

# Influx server authorization token
INFLUX_TOKEN = ""

# Influx server org containing sensor data
INFLUX_ORG = ""

# Influx server bucket containing sensor data
INFLUX_BUCKET = ""
