const emailAddress = "";
const emailPassword = "";
const notificationEmailAddresses = [];
const resetPasswordURL = "http://localhost/resetPassword/";
const reCaptchaSecret = "";
const disableRegisteringUsers = true;
const registeringUserRoles = ["event_watcher", "event_logger", "event_manager", "cruise_manager"];
const useAccessControl = true;

module.exports = {
  emailAddress,
  emailPassword,
  notificationEmailAddresses,
  resetPasswordURL,
  reCaptchaSecret,
  disableRegisteringUsers,
  registeringUserRoles,
  useAccessControl
};