// The sender address for all emails
const senderAddress = 'sealog_admin@oceandatatools.org';

// Additional receipents for and sent emails.
const notificationEmailAddresses = [];

// Server-side reCaptcha key, set to '' if not using reCaptcha bot protection
const reCaptchaSecret = '';

// Disable registering users, requires Sealog admin user to enable the accounts prior to use
const disableRegisteringUsers = false;

// Default roles of self-registering users
const registeringUserRoles = ['event_watcher', 'event_logger', 'event_manager', 'cruise_manager'];

// Activate per-cruise/per-lowering access permissions
const useAccessControl = false;

// Email integration
const emailTransporter = null;

// ====================== Uncomment ONE of the following ======================

// Using GMail integration
// ----------------------------------------------------------------------------
// To do this you need to complete the following steps with the desired account:
// 1. Turn on two-factor-authentication.
// 2. From "manage account" search for "app password"
// 3. Create a new app profile by adding an app name
// 4. use the password provided inplace of the standard gmail account password.
// ----------------------------------------------------------------------------
// const Nodemailer = require('nodemailer'); // eslint-disable-line no-unused-vars
// emailTransporter = Nodemailer.createTransport({
//   service: 'gmail',
//   auth: {
//     user: 'username@gmail.com',
//     pass: 'password'
//   }
// }); // eslint-disable-line no-dupe-keys

// Using Mailgun integration
// ----------------------------------------------------------------------------
// const Nodemailer = require('nodemailer'); // eslint-disable-line no-unused-vars
// const Mg = require('nodemailer-mailgun-transport'); // eslint-disable-line no-unused-vars
// emailTransporter = Nodemailer.createTransport(Mg({
//   auth: {
//     api_key: 'key-1234123412341234',
//     domain: 'mailgun-domain-name'
//   }
// })); // eslint-disable-line no-dupe-keys

// Using Mailjet integration
// ----------------------------------------------------------------------------
// const Nodemailer = require('nodemailer'); // eslint-disable-line no-unused-vars
// const Mj = require('nodemailer-mailjet-transport'); // eslint-disable-line no-unused-vars
// emailTransporter = Nodemailer.createTransport(Mj({
//   auth: {
//     apiKey: 'mj-key',
//     apiSecret: 'mj-secret'
//   }
// })); // eslint-disable-line no-dupe-keys

module.exports = {
  senderAddress,
  emailTransporter,
  notificationEmailAddresses,
  reCaptchaSecret,
  disableRegisteringUsers,
  registeringUserRoles,
  useAccessControl
};
