const path_root = process.env.SEALOG_SERVER_FILEPATH_ROOT || '/data/sealog-files'

const IMAGE_PATH = `${path_root}/images`;
const CRUISE_PATH = `${path_root}/cruises`;
const LOWERING_PATH = `${path_root}/lowerings`;

module.exports = {
  IMAGE_PATH,
  CRUISE_PATH,
  LOWERING_PATH
};
