const IMAGE_PATH = '/data/sealog-files/images';
const CRUISE_PATH = '/data/sealog-files/cruises';
const LOWERING_PATH = '/data/sealog-files/lowerings';

module.exports = {
  IMAGE_PATH,
  CRUISE_PATH,
  LOWERING_PATH
};
