#!/usr/bin/env python3
'''
FILE:           sealog_doc_template.py

DESCRIPTION:    ReportLab document template

BUGS:
NOTES:
AUTHOR:     Webb Pinner
COMPANY:    OceanDataTools.org
VERSION:    0.1
CREATED:    2021-05-03
REVISION:

LICENSE INFO:   This code is licensed under MIT license (see LICENSE.txt for details)
                Copyright (C) OceanDataTools.org 2021
'''

from datetime import datetime
from reportlab.platypus import PageTemplate, BaseDocTemplate, Frame, Paragraph
from reportlab.lib.units import cm
from reportlab.lib.sequencer import Sequencer
from reportlab.lib.pagesizes import A4


class FrontCoverTemplate(PageTemplate):
    '''
    Template for cover page layout
    '''

    def __init__(self, page_id, page_size=A4, title='Title Goes Here', subtitle=None):

        self.page_width = page_size[0]
        self.page_height = page_size[1]
        self.title = title
        self.subtitle = subtitle

        frame1 = Frame(2.5 * cm,
                       2.5 * cm,
                       self.page_width - 5 * cm,
                       self.page_height - 7 * cm, id='cover')
        PageTemplate.__init__(self, page_id, [frame1])  # note lack of onPage

    def afterDrawPage(self, canv, doc):
        '''
        Actions to take after drawPage
        '''

        canv.saveState()
        canv.setFont('Helvetica', 24)

        canv.drawCentredString(self.page_width / 2, self.page_height - 2.5 * cm, self.title)

        if self.subtitle:
            canv.setFont('Helvetica-Oblique', 20)
            canv.drawCentredString(self.page_width / 2, self.page_height - 3.15 * cm, self.subtitle)
            canv.setFont('Helvetica', 10)
            canv.drawCentredString(self.page_width / 2, self.page_height - 3.75 * cm, 'Generated: ' + datetime.utcnow().replace(microsecond=0).strftime("%c"))

        else:
            canv.setFont('Helvetica', 10)
            canv.drawCentredString(self.page_width / 2, self.page_height - 3.15 * cm, 'Generated: ' + datetime.utcnow().replace(microsecond=0).strftime("%c"))

        canv.setFont('Helvetica', 10)
        canv.line(2 * cm, 80, self.page_width - 2 * cm, 80)

        canv.drawString(2 * cm, 60, 'OceanDataTools.org')
        canv.drawString(2 * cm, 48, '41.3610° N')
        canv.drawString(2 * cm, 36, '71.4814° W')

        canv.restoreState()


class OneColumnTemplate(PageTemplate):
    '''
    Template for 1-column page layout
    '''

    def __init__(self, page_id, page_size=A4):
        self.page_width = page_size[0]
        self.page_height = page_size[1]
        frame1 = Frame(2.5 * cm,
                       2.5 * cm,
                       self.page_width - 5 * cm,
                       self.page_height - 5 * cm,
                       id='normal')
        PageTemplate.__init__(self, page_id, [frame1])  # note lack of onPage

    def afterDrawPage(self, canv, doc):
        '''
        Actions to take after drawPage
        '''

        y_pos = self.page_height - 50
        canv.saveState()
        canv.setFont('Helvetica', 10)
        canv.drawString(2 * cm, y_pos+8, doc.title)
        canv.drawRightString(self.page_width - 2 * cm, y_pos+8, doc.chapter)
        canv.line(2 * cm, y_pos, self.page_width - 2 * cm, y_pos)
        canv.drawCentredString(self.page_width / 2, 2 * cm, 'Page %d' % canv.getPageNumber())
        canv.restoreState()

class TOCTemplate(PageTemplate):
    '''
    Template for table of contents
    '''

    def __init__(self, page_id, page_size=A4):
        self.page_width = page_size[0]
        self.page_height = page_size[1]
        frame1 = Frame(2.5 * cm,
                       2.5 * cm,
                       self.page_width - 5 * cm,
                       self.page_height - 5.5 * cm,
                       id='normal')
        PageTemplate.__init__(self, page_id, [frame1])  # note lack of onPage

    def afterDrawPage(self, canv, doc):
        '''
        Actions to take after drawPage
        '''

        canv.saveState()
        canv.setFont('Helvetica', 22)
        canv.drawCentredString(self.page_width / 2, self.page_height - 2 * cm, 'Table of Contents')

        canv.setFont('Helvetica', 10)
        canv.drawCentredString(self.page_width / 2, 2 * cm, 'Page %d' % canv.getPageNumber())
        canv.restoreState()

class TwoColumnTemplate(PageTemplate):
    '''
    Template for 2-column page layout
    '''

    def __init__(self, page_id, page_size=A4):
        self.page_width = page_size[0]
        self.page_height = page_size[1]
        col_width = 0.5 * (self.page_width - 6 * cm)
        frame1 = Frame(2.5 * cm,
                       2.5 * cm,
                       col_width,
                       self.page_height - 5 * cm,
                       id='leftCol')
        frame2 = Frame(0.5 * self.page_width + 0.125,
                       cm,
                       col_width,
                       self.page_height - 5 * cm,
                       id='rightCol')
        PageTemplate.__init__(self, page_id, [frame1, frame2])  # note lack of onPage

    def afterDrawPage(self, canv, doc):
        '''
        Actions to take after drawPage
        '''

        y_pos = self.page_height - 50
        canv.saveState()
        canv.setFont('Helvetica', 10)
        canv.drawString(cm, y_pos+8, doc.title)
        canv.drawRightString(self.page_width - cm, y_pos+8, doc.chapter)
        canv.line(cm, y_pos, self.page_width - 2.5 * cm, y_pos * 2.5 * cm)
        canv.drawCentredString(self.page_width / 2, 2 * cm, 'Page %d' % canv.getPageNumber())
        canv.restoreState()


class RLDocTemplate(BaseDocTemplate):
    '''
    ReportLab-style document template
    '''

    def __init__(self, *args, **kwargs):


        self.title = kwargs.get('title')

        try:
            self.subtitle = kwargs.pop('subtitle')
        except KeyError:
            self.subtitle = None

        self.chapter = ''
        self.section = ''

        super().__init__(*args, **kwargs)

    def afterInit(self):
        '''
        Actions to take after init
        '''

        self.addPageTemplates(FrontCoverTemplate('Cover', title=self.title, subtitle=self.subtitle))
        self.addPageTemplates(TOCTemplate('TOC'))
        self.addPageTemplates(OneColumnTemplate('Normal'))
        self.addPageTemplates(TwoColumnTemplate('TwoColumn'))
        self.seq = Sequencer()

    def beforeDocument(self):
        '''
        Actions to take before build document
        '''

        self.canv.showOutline()
        self.seq.reset('section')
        self.seq.reset('chapter')

    def afterFlowable(self, flowable):
        '''
        Detect Level 1 and 2 headings, build outline, and track chapter title.
        '''

        if isinstance(flowable, Paragraph):
            style = flowable.style.name
            txt = flowable.getPlainText()

            if style == 'Title':
                self.title = txt
            elif style == 'Heading1':
                self.chapter = txt
                key = 'ch%s' % self.seq.nextf('chapter')
                self.canv.bookmarkPage(key)
                self.canv.addOutlineEntry(txt, key, 0, 0)
                self.seq.reset("section")
                self.notify('TOCEntry', (0, txt, self.page, key))
            elif style == 'Heading2':
                self.section = flowable.text
                key = 'ch%ss%s' % (self.seq.thisf("chapter"), self.seq.nextf("section"))
                self.canv.bookmarkPage(key)
                self.canv.addOutlineEntry(txt, key, 1, 0)
                self.notify('TOCEntry', (1, txt, self.page, key))
